/*@ //@======================== GENERAL ========================@// @*/
/*@ //@======================== GENERAL ========================@// @*/

html {
	scroll-behavior: smooth;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: clip;
}

.container {
	max-width: const(1440px);
	padding-inline: desk(40px, 20px);

	margin-inline: auto;
	height: 100%;
}