/*& //&======================== ACCORDIONS DEFAULT ========================&// &*/
/*& //&======================== ACCORDIONS DEFAULT ========================&// &*/
.accordion {

  &__tab {

    .active {

    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  &__header-text {
  }

  &__header-button {
  }

  &__body {
    max-height: 0;
    overflow: hidden;
    transition: all 250ms;
  }

  &__content {
  }
}