//%======================== VARS ========================%//
//%======================== VARS ========================%//

//%------------ viewport ------------%//
$DESKTOP: 1440px;
$TABLET: 834px;
$MOBILE: 600px;

//%------------ colors ------------%//